<form [formGroup]="editCompanyForm" (ngSubmit)="editForm()">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{editCompanyForm.value.companyName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card mb-4" style="display: none;">
            <div class="card-body">
                <div class="card-title mb-3">Partner Type</div>
                <div class="row">
                    <div class="form-control">
                        <input class="" type="radio" formControlName="partnertype" name="partnertype"
                            value="1" />Country Partner
                        <input class="" type="radio" formControlName="partnertype" name="partnertype"
                            value="2" />Distributor
                        <input class="" type="radio" formControlName="partnertype" name="partnertype"
                            value="3" />Reseller
                        <input class="" type="radio" formControlName="partnertype" name="partnertype" value="4" />Client
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="companyName">Company Name<sup class="text-danger">*</sup></label>
                        <input
                            [ngClass]="{ 'is-invalid': details.companyName.errors && (details.companyName.dirty || details.companyName.touched)}"
                            type="text" class="form-control" formControlName="companyName" id="companyName"
                            minlength="2" maxlength="25" placeholder="Company Name" />

                        <div *ngFor="let validation of validationMessage.companyName" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('companyName').hasError(validation.type) && (editCompanyForm.get('companyName').dirty || editCompanyForm.get('companyName').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="address">Address<sup class="text-danger">*</sup></label>
                        <textarea
                            [ngClass]="{ 'is-invalid': details.address.errors && (details.address.dirty || details.address.touched)}"
                            type="text" class="form-control" formControlName="address" id="address" maxlength="150"
                            placeholder="Address">
                                </textarea>

                        <div *ngFor="let validation of validationMessage.address" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('address').hasError(validation.type) && (editCompanyForm.get('address').dirty || editCompanyForm.get('address').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="country">Country<sup class="text-danger">*</sup></label>
                        <select
                            [ngClass]="{ 'is-invalid': details.countryId.errors && (details.countryId.dirty || details.countryId.touched)}"
                            class="form-control" formControlName="countryId" id="countryId" placeholder="select"
                            (change)="changeStateAsPerCountry($event.target.value)">
                            <option value="">-- Select --</option>
                            <option *ngFor="let country of allCountries" value="{{country.CountryId}}">
                                {{country.CountryName}}
                            </option>
                        </select>
                        <div *ngFor="let validation of validationMessage.countryId" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('countryId').hasError(validation.type) && (editCompanyForm.get('countryId').dirty || editCompanyForm.get('countryId').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        <label for="country">State<sup class="text-danger">*</sup></label>
                        <select
                            [ngClass]="{ 'is-invalid': details.stateId.errors && (details.stateId.dirty || details.stateId.touched)}"
                            class="form-control" formControlName="stateId" id="stateId" placeholder="select"
                            (change)="changeCityAsPerState()">
                            <option value="0">-- Select --</option>
                            <option *ngFor="let state of allStates" value="{{state.StateId}}">
                                {{state.StateName}}
                            </option>
                        </select>
                        <div *ngFor="let validation of validationMessage.stateId" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('stateId').hasError(validation.type) && (editCompanyForm.get('stateId').dirty || editCompanyForm.get('stateId').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        <label for="country">City<sup class="text-danger">*</sup></label>
                        <select
                            [ngClass]="{ 'is-invalid': details.cityId.errors && (details.cityId.dirty || details.cityId.touched)}"
                            class="form-control" formControlName="cityId" id="cityId" placeholder="select">
                            <option value="">-- Select --</option>
                            <option *ngFor="let city of allCities" value="{{city.CityId}}">
                                {{city.CityName}}
                            </option>
                        </select>
                        <div *ngFor="let validation of validationMessage.cityId" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('cityId').hasError(validation.type) && (editCompanyForm.get('cityId').dirty || editCompanyForm.get('cityId').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 form-group mb-3">
                        <label for="">2 Step Authentication setting</label>
                        <div class="row">
                            <div class="col">
                                <input type="checkbox" formControlName="isEmailOtp" (change)="checkedEmailOtp(editCompanyForm.value.isEmailOtp?'1':'0')"> Email OTP
                             </div>
                             <div class="col">
                                <input type="checkbox" formControlName="isSmsOtp" (change)="checkedSmsOtp(editCompanyForm.value.isSmsOtp?'1':'0')"> SMS OTP
                             </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-title mb-3">Admin Contact Details</div>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="contactName">Name<sup class="text-danger">*</sup></label>
                        <input
                            [ngClass]="{ 'is-invalid': details.contactName.errors && (details.contactName.dirty || details.contactName.touched)}"
                            type="text" class="form-control" formControlName="contactName" id="contactName"
                            minlength="2" maxlength="25" placeholder="Company Name" />

                        <div *ngFor="let validation of validationMessage.contactName" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('contactName').hasError(validation.type) && (editCompanyForm.get('contactName').dirty || editCompanyForm.get('contactName').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="companyEmail">Login Email<sup class="text-danger">*</sup><small>(Reset password link will be sent on this email address)</small></label>
                        <input
                            [ngClass]="{ 'is-invalid': details.companyEmail.errors && (details.companyEmail.dirty || details.companyEmail.touched)}"
                            type="text" class="form-control" formControlName="companyEmail" id="companyEmail"
                            placeholder="Login Email" readonly />

                        <div *ngFor="let validation of validationMessage.companyEmail" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('companyEmail').hasError(validation.type) && (editCompanyForm.get('companyEmail').dirty || editCompanyForm.get('companyEmail').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 form-group mb-3">
                        <label for="mobileNo">Mobile Number<sup class="text-danger">*</sup></label>
                        <input
                            [ngClass]="{ 'is-invalid': details.mobileNo.errors && (details.mobileNo.dirty || details.mobileNo.touched)}"
                            type="text" class="form-control" formControlName="mobileNo" id="mobileNo" minlength="10"
                            maxlength="10" pattern="[0-9]+" placeholder="Mobile Number" />

                        <div *ngFor="let validation of validationMessage.mobileNo" class="invalid-feedback">
                            <div
                                *ngIf="editCompanyForm.get('mobileNo').hasError(validation.type) && (editCompanyForm.get('mobileNo').dirty || editCompanyForm.get('mobileNo').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group mt-4">
                        <div>
                           <input type="checkbox" formControlName="isAllowMac" (change)="checkedValue(editCompanyForm.value.isAllowMac?'1':'0')"> Allow Mac
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-rounded mb-3 mb-sm-0 mr-0 mr-sm-3" type="button"
            (click)="close()">Cancel</button>
        <button class="btn btn-primary text-white btn-rounded mb-3 mb-sm-0 mr-0 mr-sm-3" type="submit"
            [disabled]="!editCompanyForm.valid">Update</button>
    </div>
</form>